In [21]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [22]:
df = pd.read_csv("./datasets/train.csv")
df.head()

   index                                              tweet  label
0  10001  अमर उजाला दैनिक समाचार में हेड लाइन में प्रकाश...      0
1  10002  बीजेपी @BJP4India केन्द्रीय चुनाव समिति की मीट...      0
2  10003  #AssemblyElections2022 प्रभारी निरीक्षक गौर श्...      0
3  10004  #ब्रेकिंग - मध्यप्रदेश सीहोर में हैवानियत 10 स...      0
4  10006  #AmitShah ने कहा उत्तर प्रदेश में पूर्ववर्ती स...      0

In [23]:
df['label'].value_counts()

label
0    16805
1     2214
Name: count, dtype: int64

In [24]:
hindi_df = pd.read_csv("./datasets/hindi_offensive.csv")
hindi_df.head()

,Unnamed: 0,Unique ID,Post,Labels Set
0,0,1,मेरे देश के हिन्दु बहुत निराले है। कुछ तो पक्क...,"hate,offensive"
1,1,2,सरकार हमेशा से किसानों की कमाई को बढ़ाने के लि...,non-hostile
2,2,3,"सुशांत ने जो बिजनेस डील 9 जून को की थी, वो डील...",non-hostile
3,3,4,@prabhav218 साले जेएनयू छाप कमिने लोग हिन्दुओं...,"defamation,offensive"
4,4,5,#unlock4guidelines - अनलॉक-4 के लिए गाइडलाइन्स...,non-hostile

In [25]:
hindi_df.drop(columns=['Unnamed: 0', 'Unique ID'], inplace=True)

In [27]:
hindi_df.rename(columns={"Post": "tweet", "Labels Set" : "label"}, inplace=True)
hindi_df['label'] = 1

In [31]:
hindi_df.head()

                                               tweet  label
0  मेरे देश के हिन्दु बहुत निराले है। कुछ तो पक्क...      1
1  सरकार हमेशा से किसानों की कमाई को बढ़ाने के लि...      1
2  सुशांत ने जो बिजनेस डील 9 जून को की थी, वो डील...      1
3  @prabhav218 साले जेएनयू छाप कमिने लोग हिन्दुओं...      1
4  #unlock4guidelines - अनलॉक-4 के लिए गाइडलाइन्स...      1